.dashboard__col{
    padding: 10px 20px;
    flex-basis: 33.33%;
    box-sizing: border-box;
}
.col__title{
    margin: 0 auto 20px;
    text-align: center;
    font-weight: 800;
    line-height: 2rem;
    color: #fff;
    text-transform: uppercase;
}
.col__add-task{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
    font-size: 0;
}
.col__add-task:hover{
    background: #3fbaee;
}
.add-task__ico{
   width: 25px;
   height: auto;
   display: inline-block;
   fill: #fff;
}
.tasks-list{
    padding: 1px 10px;
    list-style: none;
    background: rgba(255,255,255,.4);
    box-shadow: 5px 5px 6px rgba(5,5,5,.3);
}
.task{
    margin: 20px auto;
    padding: 20px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #fff;
}
.task__row + .task__row{
    margin: 10px 0 0;
}
.task__row [name="title"],
.task__row [name="description"]{
    padding: 2px 5px;
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}
.task__row [name="description"]{
    min-height: 6rem;
    resize: none;
}
.task__row .mng{
    font-size: 0;
}
.mng__item{
    margin: 0 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
}