.toolbar{
    padding: 10px;
    font-size: 0;
    text-align: right;
    background: rgba(97,97,97, .4);
    border-bottom: 1px solid #252525;
}
.toolbar__item{
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
}
.toolbar__item:first-child{
    margin: 0 10px 0 0;
    float: left;
    font-size: 20px;
    width: auto;
    cursor: default;
}
.toolbar__item:last-child{
    margin-right: 0;
}