.dashboard__col{
    padding: 10px 20px;
    list-style: none;
    flex-basis: 33.33%;
    box-sizing: border-box;
}
.col__title{
    margin: 0 auto 20px;
    text-align: center;
    font-weight: 800;
    line-height: 2rem;
}
.col__add-task{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .3s linear;
    font-size: 0;
}
.col__add-task:hover{
    background: rgba(45,45,45,.3);
}
.add-task__ico{
   width: 25px;
   display: inline-block;
}
.task{
    margin: 20px auto;
    padding: 20px 5px;
    border: 1px solid #000
}