input,
textarea{
    outline: none;
    box-sizing: border-box;
    height: auto;
    font-family: Roboto;
}
.task__row + .task__row{
    margin: 10px 0 0;
}
.task__row [name="title"],
.task__row [name="description"]{
    padding: 2px 5px;
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}
.task__row [name="description"]{
    min-height: 6rem;
    resize: none;
}
.task__row .mng{
    font-size: 0;
}
.mng__item{
    margin: 0 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
}